/* Page centrale */
.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e4dd78;
}

/* Card */
/* Card en forme de ticket */
.login-card {
  background: #fff;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  
}



/* Titre */
.login-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  color: #333;
}

/* Container rôle */
.login-role {
  display: flex;           
  justify-content: flex-end; /* pousse tout à droite */
  align-items: center;     
  margin-bottom: 10px;
}

.login-role label {
  margin-right: 10px;      /* espace entre label et select */
  font-weight: 300;
}

.login-select {
  width: 32%;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #e4dd78;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Message d'erreur */
.login-error {
  background-color: #ffe5e5;
  color: #d8000c;
  text-align: center;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* Formulaire */
.login-form .login-field {
  margin-bottom: 10px;
}

.login-input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #d88d1d;
  font-size: 16px;
}

/* Bouton */
.login-button {
  width: 50%;
  padding: 12px;
  background-color: #d88d1d;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 62px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  display: block;
}

.login-button:hover {
  background-color: #dac466;
}

